html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Lato', sans-serif; }

body {
  width: 100%;
  background-color: #009BA6;
  font-size: 62.5%;
  /* font-size 1em = 10px on default browser settings */
  color: #fff; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.8em; }

li {
  font-size: 1.6em; }

p {
  margin: 0; }

.site {
  width: 100%;
  text-align: center; }

header {
  /* height: auto; */
  position: relative;
  height: 100vh; }

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header-content .wrapper {
    position: relative;
    width: 100%;
    text-align: right; }
    .header-content .wrapper h1 {
      display: inline-block;
      color: #F38630;
      font-size: 15em;
      margin: 0;
      font-weight: normal; }
    .header-content .wrapper h2 {
      text-align: right;
      position: absolute;
      display: inline-block;
      color: #fff;
      font-size: 5em;
      top: 2.5em;
      right: 0;
      font-weight: lighter;
      line-height: 0; }
    .header-content .wrapper h3 {
      display: none; }

.hide {
  display: none; }

.header-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: green;
  height: auto;
  z-index: 4; }
  .header-nav .wrapper h1 {
    color: #F38630;
    font-size: 4em;
    margin: 0;
    display: inline-block;
    font-weight: normal;
    margin-left: 5%; }
  .header-nav .wrapper h2 {
    color: #fff;
    font-size: 3em;
    display: inline-block;
    font-weight: lighter;
    line-height: 0; }
  .header-nav .wrapper h3 {
    font-size: 1.6em;
    display: inline-block;
    font-weight: lighter;
    float: right;
    margin-right: 5%; }

.resume-btn {
  text-align: right;
  font-size: 5em;
  color: #F38630;
  margin-right: 5%; }

.about-me {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #99B2B7; }
  .about-me h1 {
    color: #F38630;
    font-size: 10em; }
  .about-me p {
    font-weight: lighter;
    font-size: 3em;
    margin: 0 10% 20px 10%;
    line-height: 2em; }

.portfolio {
  background-color: #fff;
  /* font-size: 5em; */
  text-align: center;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  display: inline-block; }

.portfolio h2 {
  color: #0d6759;
  margin-bottom: 0;
  font-size: 3em;
  text-indent: 0;
  line-height: normal; }

.portfolio {
  overflow: hidden; }

.portfolio-example {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 10%;
  margin: 60px 0 30px 10%;
  text-align: left; }

.portfolio-circle {
  position: relative;
  border-radius: 50%;
  height: 418px;
  width: 418px;
  border: 10px solid #fff;
  display: inline-block;
  z-index: 2; }

.portfolio-example-description {
  background-color: #F38630;
  display: inline-block;
  position: absolute;
  height: 350px;
  width: 70%;
  top: 50%;
  left: 219px;
  transform: translateY(-50%);
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  z-index: 1; }
  .portfolio-example-description p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 229px;
    font-size: 5em;
    width: 80%; }

.resume {
  text-align: center;
  overflow: auto; }
  .resume h1, .resume h2, .resume h3, .resume h4 {
    margin-bottom: 0; }
  .resume h4, .resume ul {
    margin-top: 0; }
  .resume h4, .resume p, .resume li {
    font-weight: lighter; }
  .resume p {
    font-size: 1.6em; }

.resume-content {
  text-align: left;
  width: 70%;
  margin: 30px 10% 0 10%; }
  .resume-content .wrapper {
    overflow: hidden; }
  .resume-content .languages, .resume-content .software {
    margin-right: 50px;
    float: left;
    display: inline-block; }
  .resume-content .education h3 {
    margin-top: 0;
    font-weight: lighter; }
