html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #545959;
  font-size: 62.5%;
  /* font-size 1em = 10px on default browser settings */
  color: #545959;
  font-family: 'Roboto', sans-serif; }

ul {
  padding: 0; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.8em; }

li {
  font-size: 1.6em; }

a {
  text-decoration: none;
  color: #fff; }

a:visited, a:hover, a:focus {
  color: #fff; }

.resume-post a {
  color: #6BA8AD; }
  .resume-post a .resume-post a:visited {
    color: #6BA8AD; }

.site {
  width: 100%; }

header {
  background-image: url("../images/hero-top.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  border-bottom: 10px solid #5b3921;
  position: relative; }
  header .overlay {
    width: 100%;
    height: 100%;
    background-color: #0c4960;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    opacity: .7; }

.header-content {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3; }
  .header-content .wrapper {
    display: inline-block;
    position: relative;
    width: auto; }
    .header-content .wrapper h1 {
      color: #FF9200;
      font-size: 15em;
      margin: 0;
      font-weight: 300; }
    .header-content .wrapper h2 {
      position: absolute;
      display: inline-block;
      color: #fff;
      font-size: 5em;
      margin: 0;
      bottom: 0;
      right: 0;
      font-weight: normal;
      line-height: 50%; }
    .header-content .wrapper h3 {
      display: none; }
  .header-content #header-skills {
    height: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    transform: translatex(-50%);
    width: 100%; }
  .header-content #header-skills li {
    display: inline-block;
    margin: 40px;
    padding: 15px;
    font-size: 3em;
    color: #fff;
    border-bottom: 2px solid #b2bebd; }

#header-title {
  display: none; }

nav {
  position: fixed;
  background-color: #23201a;
  text-align: center;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 5;
  overflow: hidden; }
  nav ul {
    margin: 0; }
  nav ul li {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    color: #fff;
    border-right: 1px solid #5b3921; }
  nav ul li a {
    display: inline-block;
    height: 100%;
    line-height: 30px;
    margin: auto 10px; }

@media screen and (max-width: 950px) {
  .header-content #header-skills li {
    margin: 20px;
    font-size: 2em;
    padding: 3%; } }
@media screen and (max-width: 796px) {
  .header-content .wrapper h1 {
    font-size: 10em; }
  .header-content .wrapper h2 {
    font-size: 3.3em; }
  .header-content #header-skills li {
    margin: 15px;
    font-size: 1.6em;
    padding: 3%;
    padding-bottom: 10px; } }
@media screen and (max-width: 525px) {
  header {
    background-size: auto 100%; }

  .header-content .wrapper h1 {
    font-size: 5em; }
  .header-content .wrapper h2 {
    font-size: 1.7em; }
  .header-content #header-skills li {
    margin: 10px;
    font-size: 1.4em;
    padding: 1%;
    padding-bottom: 10px; } }
.about-me {
  background: -webkit-linear-gradient(#BEBEBE, #b2bebd);
  background: -o-linear-gradient(#BEBEBE, #b2bebd);
  background: -moz-linear-gradient(#BEBEBE, #b2bebd);
  background: linear-gradient(#BEBEBE, #b2bebd);
  text-align: center;
  position: relative;
  vertical-align: top;
  height: 100vh;
  margin: -1px 0 0 0;
  padding: 1px 0 0 0;
  overflow: hidden; }

.about-me-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .about-me-wrapper .about-me-content {
    margin: 0 10% 0 10%;
    padding: 30px 0 100px 0; }
    .about-me-wrapper .about-me-content h1 {
      color: #5b3921;
      font-size: 15vh;
      display: block;
      font-weight: lighter; }
    .about-me-wrapper .about-me-content p {
      font-weight: lighter;
      font-size: 5vh;
      line-height: 1.5em; }

@media screen and (max-width: 910px) {
  .about-me-wrapper .about-me-content {
    margin: 0 5% 0 5%; }
    .about-me-wrapper .about-me-content h1 {
      font-size: 10vh;
      margin: 0; }
    .about-me-wrapper .about-me-content p {
      font-size: 4vh; } }
@media screen and (max-width: 380px) {
  .about-me-wrapper .about-me-content {
    margin: 0 5% 0 5%; }
    .about-me-wrapper .about-me-content h1 {
      font-size: 8vh;
      margin: 0; }
    .about-me-wrapper .about-me-content p {
      font-size: 2em; } }
.portfolio {
  text-align: center;
  background: -webkit-linear-gradient(#b2bebd, #9EA8A7);
  background: -o-linear-gradient(#b2bebd, #9EA8A7);
  background: -moz-linear-gradient(#b2bebd, #9EA8A7);
  background: linear-gradient(#b2bebd, #AAB5B4);
  margin: -1px 0 0 0;
  padding: 1px 0 0 2%;
  overflow: hidden; }
  .portfolio h1 {
    font-size: 10em;
    font-weight: lighter;
    color: #5b3921;
    opacity: 0; }

.portfolio-content {
  max-width: 120em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.portfolio-example {
  display: inline-block;
  vertical-align: top;
  margin: 0 3% 0 0;
  text-align: left;
  width: 30%;
  position: relative;
  overflow: hidden;
  opacity: 0; }
  .portfolio-example .portfolio-desc-title {
    font-weight: bold;
    color: #FF9200; }
  .portfolio-example .portfolio-info {
    width: 100%;
    height: 100%;
    background-color: black;
    display: inline-block;
    position: absolute;
    opacity: 0.7;
    text-align: left; }
    .portfolio-example .portfolio-info h3,
    .portfolio-example .portfolio-info p {
      padding: 10px 0 0 15px; }
    .portfolio-example .portfolio-info p {
      font-size: 1.4em;
      color: #fff; }
    .portfolio-example .portfolio-info hr {
      padding: 0 5px 0 0;
      width: 90%; }
  .portfolio-example img {
    width: 100%;
    box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33); }

.resume-mod {
  opacity: 0; }

.fade-in {
  animation: fade-in 1.5s ease forwards; }

@keyframes fade-in {
  to {
    opacity: 1; } }
.come-in {
  transform: translateY(150px);
  animation: come-in 1.5s ease forwards; }

@keyframes come-in {
  to {
    transform: translateY(0);
    opacity: 1; } }
#info-01,
#info-02,
#info-03 {
  bottom: -500px;
  left: 0;
  transition: bottom 0.5s; }

.portfolio-example:hover #info-01,
.portfolio-example:hover #info-02,
.portfolio-example:hover #info-03 {
  bottom: 0; }

@media screen and (max-width: 812px) {
  .portfolio h1 {
    font-size: 5em; }

  .portfolio-example {
    text-align: center;
    display: block;
    width: auto; }
    .portfolio-example img {
      max-width: 100%;
      width: 100%; }

  #info-01,
  #info-02,
  #info-03 {
    bottom: -50%;
    left: 0; } }
.resume {
  background-color: #9EA8A7;
  background: -webkit-linear-gradient(#9EA8A7, #fff);
  background: -o-linear-gradient(#9EA8A7, #fff);
  background: -moz-linear-gradient(#9EA8A7, #fff);
  background: linear-gradient(#AAB5B4, #fff);
  overflow: auto;
  margin: -1px 0 0 0;
  padding: 1px 0 0 2%;
  overflow-x: hidden; }
  .resume h1 {
    font-size: 10em;
    font-weight: lighter;
    color: #5b3921;
    text-align: center; }
  .resume h2, .resume h3, .resume h4 {
    font-family: 'Open Sans', sans-serif;
    color: #545959;
    margin-bottom: 0;
    font-weight: 500; }
  .resume h2 {
    margin-top: 0; }
  .resume h4, .resume ul {
    margin-top: 0;
    color: #545959; }
  .resume h4 {
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 300;
    color: #545959; }
  .resume p, .resume li {
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight: 300;
    color: #545959; }
  .resume li {
    position: relative;
    margin: 15px 2% 0 0;
    padding: 0 2px;
    list-style-type: none;
    display: inline-block;
    background-color: #ddd; }
  .resume .resume-content {
    text-align: left;
    margin: 0 10% 40px 10%;
    display: inline-block;
    vertical-align: top; }
    .resume .resume-content h2 {
      position: relative;
      margin: 30px 0 0 2%; }
    .resume .resume-content .resume-post {
      display: inline-block;
      text-align: left;
      width: 45%;
      margin: 0 2%;
      vertical-align: top; }
      .resume .resume-content .resume-post p {
        margin: 0; }
    .resume .resume-content .skills {
      vertical-align: top;
      margin: 3em auto 0 2%;
      text-align: left; }
      .resume .resume-content .skills h2 {
        text-align: left;
        margin-left: 0; }
    .resume .resume-content .languages, .resume .resume-content .software, .resume .resume-content .education {
      margin-right: 50px;
      text-align: left;
      vertical-align: top; }
    .resume .resume-content .resume-profile {
      text-align: center;
      width: 70%;
      margin: 0 auto; }
    .resume .resume-content .education {
      margin: 0 auto 0 2%; }
      .resume .resume-content .education p {
        margin: 0; }

@media screen and (max-width: 812px) {
  .resume {
    padding: 1px 0 0 0; }
    .resume h1 {
      font-size: 5em; }
    .resume h2 {
      text-align: left;
      margin: 0; }
    .resume p {
      text-align: left; }
    .resume .resume-content {
      margin: 0 3% 40px 3%;
      text-align: left; }
      .resume .resume-content .resume-profile {
        width: 90%;
        margin: 0 3%; }
        .resume .resume-content .resume-profile h2 {
          margin: 0; }
      .resume .resume-content .resume-post {
        display: block;
        width: 95%;
        margin: 0 auto; }
      .resume .resume-content .education {
        text-align: left; }
      .resume .resume-content .education p {
        text-align: left; }
      .resume .resume-content .education h3 {
        margin: 0; } }
footer {
  background-color: #363636;
  border-top: 10px solid #5b3921;
  overflow: hidden;
  color: #949494; }
  footer .contact {
    float: left;
    vertical-align: top;
    margin: 30px 2% 0 2%; }
    footer .contact p {
      font-weight: lighter;
      font-size: 1.8em; }
  footer .social {
    vertical-align: top;
    float: right;
    margin: 30px 2% 0 0; }
    footer .social img {
      width: 50px;
      height: 50px; }

@media screen and (max-width: 570px) {
  footer .contact {
    text-align: center;
    display: block;
    float: none;
    vertical-align: top;
    margin: 30px 2% 0 2%; }
    footer .contact p {
      font-weight: lighter;
      font-size: 1.8em; }
  footer .social {
    vertical-align: top;
    display: block;
    float: none;
    margin: 30px 0 30px 0;
    text-align: center; }
    footer .social img {
      text-align: center;
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 2em; } }
