html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Lato', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  width: 100%;
  background-color: #009BA6;
  font-size: 62.5%;
  /* font-size 1em = 10px on default browser settings */
  color: #fff; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.8em; }

li {
  font-size: 1.6em; }

p {
  margin: 0; }

.site {
  width: 100%; }

header {
  /* height: auto; */
  height: 100vh; }

.header-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .header-content .wrapper {
    display: inline-block;
    position: relative;
    width: auto; }
    .header-content .wrapper h1 {
      color: #F38630;
      font-size: 15em;
      margin: 0;
      font-weight: normal; }
    .header-content .wrapper h2 {
      position: absolute;
      display: inline-block;
      color: #fff;
      font-size: 5em;
      margin: 0;
      bottom: 0;
      right: 0;
      font-weight: lighter;
      line-height: 50%; }
    .header-content .wrapper h3 {
      display: none; }

.hide {
  display: none; }

.header-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: #25608F;
  height: auto;
  z-index: 4; }
  .header-nav .wrapper {
    position: relative;
    margin-bottom: 3px; }
    .header-nav .wrapper h1 {
      color: #F38630;
      font-size: 1.6em;
      margin: 0;
      display: inline-block;
      font-weight: normal;
      margin-left: 5%; }
    .header-nav .wrapper h2 {
      position: absolute;
      bottom: 0;
      color: #fff;
      font-size: 1.6em;
      display: inline-block;
      font-weight: lighter;
      margin: 0; }
    .header-nav .wrapper h3 {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 1.6em;
      display: inline-block;
      font-weight: lighter;
      margin: 0 5% 0 0; }

@media screen and (max-width: 920px) {
  .header-nav .wrapper h1 {
    margin-left: 2.5%; }
  .header-nav .wrapper h3 {
    margin-right: 2.5%; }

  #header-city {
    display: none; } }
@media screen and (max-width: 708px) {
  .header-nav .wrapper h1 {
    font-size: 1.6em;
    margin-left: 2.5%; }
  .header-nav .wrapper h3 {
    margin-top: 0;
    margin-right: 2.5%; } }
@media screen and (max-width: 540px) {
  .header-nav .wrapper {
    text-align: center; }
    .header-nav .wrapper h1 {
      margin-left: 2.5%; }
    .header-nav .wrapper h2 {
      position: static; }
    .header-nav .wrapper h3 {
      position: static;
      display: block;
      margin-top: 0;
      margin-right: 2.5%; } }
@media screen and (max-width: 690px) {
  .header-content .wrapper h1 {
    font-size: 10em; }
  .header-content .wrapper h2 {
    font-size: 3.3em; } }
@media screen and (max-width: 525px) {
  .header-content .wrapper h1 {
    font-size: 5em; }
  .header-content .wrapper h2 {
    font-size: 1.7em; } }
.about-me {
  background-color: #99B2B7;
  text-align: center;
  position: relative;
  height: 100vh; }

.about-me-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 30px 10% 0 10%; }
  .about-me-content h1 {
    color: #F38630;
    font-size: 10em;
    display: block; }
  .about-me-content p {
    font-weight: lighter;
    font-size: 3em;
    line-height: 2em; }

@media screen and (max-width: 718px) {
  .about-me-content {
    margin: 0 5% 0 5%; }
    .about-me-content h1 {
      font-size: 5em; }
    .about-me-content p {
      font-size: 2em; } }
.portfolio {
  background-color: #fff;
  /* font-size: 5em; */
  text-align: center;
  /* position: absolute; */
  /* bottom: 0; */
  height: auto;
  width: 100%;
  display: inline-block; }

.portfolio h2 {
  color: #0d6759;
  margin-bottom: 0;
  font-size: 3em;
  text-indent: 0;
  line-height: normal; }

.portfolio .wrapper {
  height: 418px; }

.portfolio-example {
  height: auto;
  position: relative;
  text-align: left;
  margin: 60px 0 0 0;
  overflow: hidden; }

.portfolio-circle img {
  position: relative;
  border-radius: 50%;
  height: 418px;
  width: 418px;
  border: 10px solid #fff;
  display: inline-block;
  z-index: 2; }

.slider {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 219px;
  transform: translateY(-50%); }

.portfolio-example-description {
  background-color: #F38630;
  height: 350px !important;
  width: 1100px;
  left: 0;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em; }
  .portfolio-example-description p {
    position: relative;
    margin: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 250px;
    font-size: 5em; }

@media screen and (max-width: 1404px) {
  .portfolio-example {
    margin: 60px 0 0 10%;
    overflow: hidden; }

  .slider {
    left: 150px;
    width: 80%; }
    .slider .portfolio-example-description {
      height: 200px !important;
      display: inline-block;
      width: 100%;
      margin-right: 70%;
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em; }
      .slider .portfolio-example-description p {
        font-size: 3em;
        margin: 0 0 0 190px; }

  .portfolio-circle img {
    height: 300px;
    width: 300px; } }
@media screen and (max-width: 870px) {
  .portfolio-example {
    margin: 60px 0 0 10%;
    overflow: hidden; }

  .slider {
    left: 75px;
    width: 80%; }
    .slider .portfolio-example-description {
      height: 100px !important;
      display: inline-block;
      width: 100%;
      margin-right: 70%; }
      .slider .portfolio-example-description p {
        font-size: 2em;
        margin: 0 0 0 100px; }

  .portfolio-circle img {
    height: 150px;
    width: 150px;
    border: 5px solid #fff; } }
.resume {
  width: 100%; }
  .resume h1, .resume h2, .resume h3, .resume h4 {
    margin-bottom: 0; }
  .resume h4, .resume ul {
    margin-top: 0; }
  .resume h4, .resume p, .resume li {
    font-weight: lighter; }
  .resume p {
    font-size: 1.6em; }

.resume-content {
  text-align: left;
  margin: 30px 10% 40px 10%; }
  .resume-content .wrapper {
    overflow: hidden; }
  .resume-content .languages, .resume-content .software {
    margin-right: 50px;
    float: left;
    display: inline-block; }
  .resume-content .education h3 {
    margin-top: 0;
    font-weight: lighter; }
