html{
    /*To prevent the gradient from repeating past the visible section of the viewport (assuming there was a scrollbar), replace height: 100%; with min-height: 100%;.*/
    /*height: 100%;*/
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    /** Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010f33+0,07406c+100 *!*/
    background: #010f33; /* Old browsers */
    background: -moz-linear-gradient(top, #010f33 0%, #07406c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #010f33 0%,#07406c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #010f33 0%,#07406c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010f33', endColorstr='#07406c',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    /*font-family: 'Orbitron', sans-serif;*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*===========================================
    HELPERS
===========================================*/
a{
    color: inherit;
    text-decoration: none;
}
.orbitron{
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    font-weight: 400;

}

.sections{
    font-size: 1.8rem;
    line-height: 25px;
    width: 80%;
    margin: 20px auto;
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
}
/*===========================================
    NAV
===========================================*/
.social-media-nav{
    position: static;
    text-align: right;
    height: 70px;
    padding: 30px;
}
.social-media-nav img{
    /*max-height: 60px;*/
    max-width: 60px;
}
/*===========================================
    HEADER
===========================================*/
.header-container{
    /*display: flex;*/
    /*justify-content: center;*/
    line-height: 10.2rem;
    text-align: center;
    width: 50%;
    margin:auto;
}
.main-header{
    font-size: 14.4rem;
    margin: 0;
}

.sub-header{
    font-size: 7.2rem;
    margin: 0;
    color: #F0DB4F;
    text-align: right;
}

/*===========================================
    TECHNOLOGIES
===========================================*/
.technologies-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-wrap: wrap;
    /*position: absolute;*/
    /*top: 50%;*/
}

.technologies-container img{
    max-height: 250px;
    margin-right: 26px;
    /*height: 100%;*/
    max-width: 122px;
}
/*===========================================
    PORTFOLIO
===========================================*/
.portfolio-section{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.09);
    font-family: 'Source Sans Pro', sans-serif;
}

.portfolio-section .tools img{
    display: inline-block;
    max-width: 60px;
}

.portfolio-section img{
    max-height: 200px;
}
.portfolio-section h1{
    font-size: 3rem;
}

.portfolio-section p{
    font-size: 1.8rem;
}
/*===========================================
    RESUME
===========================================*/
.resume{
    font-size: 1.6rem;
    line-height: 25px;
    width: 80%;
    margin: 20px auto;
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
}

.resume p{
    font-size: 1.8rem;
}

.resume h2{
    /*color: #F0DB4F;*/

}

.resume h3{
    margin-bottom: 0;
}

.resume h4{
    margin: 0;
}

.software ul li{
    display: inline-block;
    margin-right: 5px;
}
/*===========================================
    MSS-SITE
===========================================*/
.mss-site{
    font-size: 1.8rem;
    width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.mss-module img,
.mss-module video{
    max-width: 100%;
    width: auto;
}
/*===========================================
    MEDIA QUERIES
===========================================*/
@media (max-width: 1344px) {
    .social-media-nav img{
        /*max-height: 60px;*/
        max-width: 40px;
    }

    .header-container{
        line-height: 7.2rem;
    }
    .main-header{
        font-size: 10.4rem;
    }
    .sub-header{
        font-size: 4.2rem;
    }
    .technologies-container img{
        margin-right: 10px;
        max-height: 100px;
    }
}

@media(max-width: 972px){
    .header-container{
        line-height: 5.2rem;
    }

    .main-header{
        font-size: 8.4rem;
    }
    .sub-header{
        font-size: 3.2rem
    }

    .technologies-container img{
        max-height: 80px;
        margin-right: 5px;
    }
}
@media(max-width: 850px){
    .portfolio-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media(max-width: 784px){
    .header-container{
        line-height: 4.2rem;
    }
    .main-header{
        font-size: 5.4rem;
    }
    .sub-header{
        font-size: 2.2rem;
    }
}

@media(max-width: 764px){
    .header-container{
        text-align: center;
        width: 100%;
    }

    .main-header{
        display: inline-block;
    }
    .sub-header{
        display: inline-block;
    }
}

@media(max-width: 640px){
    .social-media-nav{
        height: auto;
        text-align: center;
    }

    .social-media-nav img{
        margin-right: 10px;
    }
}

@media(max-width: 504px){
    .header-container{
        line-height: 2.5rem;
    }
    .main-header{
        font-size: 3.4rem;
    }
    .sub-header{
        font-size: 2.2rem;
    }
}

@media(max-width: 675px){
    .portfolio-section{
        width: 100%;
    }
}

@media(max-width: 450px){
    @media(max-width: 850px){
        .portfolio-section img{
            max-width: 280px;
        }
    }
}