html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

body {
  width: 100%;
  /* background-color: #0b2e59; */
  font-size: 62.5%;
  /* font-size 1em = 10px on default browser settings */
  color: #fff; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.8em; }

li {
  font-size: 1.6em; }

p {
  margin: 0; }

.site {
  width: 100%;
  text-align: center; }

header {
  /* height: auto; */
  background-color: #0b2e59;
  position: relative; }

.header-content {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center; }
  .header-content h1 {
    color: #a0c55f;
    font-size: 9em;
    margin: 0;
    font-weight: normal;
    display: block;
    /* line-height: 1.5; */ }
  .header-content h2 {
    color: #fff;
    font-size: 7em;
    margin: 0;
    text-indent: 30%;
    font-weight: normal;
    line-height: 0; }

.resume-btn {
  text-align: right;
  font-size: 5em;
  color: #a0c55f;
  margin-right: 5%; }

.portfolio {
  /* font-size: 5em; */
  text-align: center;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  display: inline-block; }

.portfolio h2 {
  color: #0d6759;
  margin-bottom: 0;
  font-size: 3em;
  text-indent: 0;
  line-height: normal; }

.about-me {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0d6759; }
  .about-me p {
    font-weight: lighter;
    font-size: 3em;
    margin: 0 10% 20px 10%;
    line-height: 2em; }

.portfolio {
  overflow: hidden; }

.portfolio-example {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 10%;
  margin: 60px 0 30px 10%;
  text-align: left; }

.portfolio-circle {
  position: relative;
  border-radius: 50%;
  height: 418px;
  width: 418px;
  border: 10px solid #fff;
  display: inline-block;
  z-index: 2; }

.portfolio-example-description {
  background-color: #a0c55f;
  display: inline-block;
  position: absolute;
  height: 350px;
  width: 70%;
  top: 50%;
  left: 219px;
  transform: translateY(-50%);
  z-index: 1; }
  .portfolio-example-description p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 229px;
    font-size: 5em;
    width: 80%; }

.resume {
  text-align: center;
  background-color: #0b2e59;
  overflow: auto; }
  .resume h1, .resume h2, .resume h3, .resume h4 {
    margin-bottom: 0; }
  .resume h4, .resume ul {
    margin-top: 0; }
  .resume h4, .resume p, .resume li {
    font-weight: lighter; }
  .resume p {
    font-size: 1.6em; }

.resume-content {
  text-align: left;
  width: 70%;
  margin: 30px 10% 0 10%; }
  .resume-content .wrapper {
    overflow: hidden; }
  .resume-content .languages, .resume-content .software {
    margin-right: 50px;
    float: left;
    display: inline-block; }
  .resume-content .education h3 {
    margin-top: 0;
    font-weight: lighter; }
