// colors
$colorHeader: #a0c55f;
$colorSubHeader: #0d6759;
$colorDefault: #fff;
$bgColorHeader: #0b2e59;
$bgColorSkills: #2a044a;
$bgColorAboutMe: #0d6759;
// percentages
$widthFull: 100%;
html{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	width: $widthFull;
	font-family: 'Open Sans', sans-serif;
}

body{
	width: $widthFull;
	/* background-color: #0b2e59; */
	font-size: 62.5%;  /* font-size 1em = 10px on default browser settings */
	color: $colorDefault;
}

li{
	list-style-type: none;
}

ul{
	padding: 0 0 0 5%;
	margin: 0;
}

h1{
	color: $colorHeader;
	font-size: 9em;
	margin: 0;
	font-weight: normal;
	display: block;
	/* line-height: 1.5; */
}

h2{
	color: $colorDefault;
	font-size: 7em;
	margin: 0;
	text-indent: 30%;
	font-weight: normal;
	line-height: 0;
}

.site{
	width: $widthFull;
	text-align: center;
}

header{
	/* height: auto; */
	background-color: $bgColorHeader;
	position: relative;
}

.header-content{
	display: flex;
	flex-direction: column;
	height: 500px;
	justify-content: center;
	align-items: center;
}

.resume{
	text-align: right;
	font-size: 5em;
	color: $colorHeader;
	margin-right: 5%;
}

.portfolio{
	/* font-size: 5em; */
	text-align: center;
	/* position: absolute; */
	/* bottom: 0; */
	width: 100%;
	display: inline-block;
}

.portfolio h2{
	color: $colorSubHeader;
	margin-bottom: 0;
	font-size: 3em;
	text-indent: 0;
	line-height: normal;
}

.skills{
	text-align: left;
	height: auto;
	background-color: #2A044A;
}

.languages,
.software{
	display: inline-block;
	vertical-align: top;
	margin: 20px 10% 20px 10%;
	li{
		text-align: left;
		margin: 0 0 20px 0;
		font-size: 4em;
		color: #fff;
	}
}

.about-me{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $bgColorAboutMe;
	p{
		font-weight: lighter;
		font-size: 3em;
		margin: 0 10% 20px 10%;
		line-height: 2em;
	}

}
