// colors
$colorHeader: #F38630;
$colorSubHeader: #0d6759;
$colorDefault: #fff;
$bgColorDefault: #009BA6;
$bgColorHeader: #A64300;
$bgColorSkills: #FF9200;
$bgColorAboutMe: #99B2B7;
$bgColorPortfolio: #fff;
$bgColorPortfolioText: #F38630;
// percentages
$widthFull: 100%;
html{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	width: $widthFull;
	font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
	width: $widthFull;
	background-color: $bgColorDefault;
	font-size: 62.5%;  /* font-size 1em = 10px on default browser settings */
	color: $colorDefault;
}

ul{
	// padding: 0;
}

li{
	// list-style-type: none;
}

h1{
	font-size: 4em;
	// margin: 0;
}

h2{
	font-size: 2.5em;
	// margin:0;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.8em;
}

li{
	font-size: 1.6em;
}

p{
	margin: 0;
}

.site{
	width: $widthFull;
	// text-align: center;
}
// ==================================
// HEADER
// ==================================
header{
	/* height: auto; */
	// background-color: $bgColorHeader;
	// position: relative;
	height: 100vh;
}

.header-content{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	.wrapper{
		display: inline-block;
		position: relative;
		width: auto;
		h1{
			color: $colorHeader;
			font-size: 15em;
			margin: 0;
			font-weight: normal;
			// line-height: 0;
		}
		h2{
			position: absolute;
			display: inline-block;
			color: $colorDefault;
			font-size: 5em;
			margin: 0;
			bottom: 0;
			right: 0;
			font-weight: lighter;
			line-height: 50%;
		}
		h3{
			display: none;
		}
	}
}

.hide{
	display: none;
}

.header-nav{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: left;
	background-color: #25608F;
	height: auto;
	z-index: 4;
	.wrapper{
		position: relative;
		margin-bottom: 3px;
		h1{
			// position: relative;
			color: $colorHeader;
			font-size: 1.6em;
			margin: 0;
			display: inline-block;
			font-weight: normal;
			margin-left: 5%;
			// float: left;
		}
		h2{
			position: absolute;
			// line-height: 0;
			bottom: 0;
			// right: 0;
			color: $colorDefault;
			font-size: 1.6em;
			display: inline-block;
			font-weight: lighter;
			// line-height: 0;
			// float: left;
			margin:0;
		}
		h3{
			position: absolute;
			// line-height: 0;
			bottom: 0;
			right: 0;
			font-size: 1.6em;
			display: inline-block;
			font-weight: lighter;
			// float: right;
			// margin: 0;
			margin:0 5% 0 0;
		}
	}
}

// NAV
@media screen and (max-width: 920px){
	.header-nav{
		.wrapper{
			h1{
				margin-left: 2.5%;
			}
			h3{
				margin-right: 2.5%;
			}
		}
	}

	#header-city{
		display:none;
	}
}
// NAV
@media screen and (max-width: 708px){
	.header-nav{
		.wrapper{
			// text-align: center;
			h1{
				// display: block;
				font-size: 1.6em;
				margin-left: 2.5%;
			}
			h2{

				// position: static;
				// float: left;
			}
			h3{
				// position: static;
				// display: block;
				margin-top: 0;
				margin-right: 2.5%;
				// float: none;
			}
		}
	}

}
// NAV
@media screen and (max-width: 540px){
	.header-nav{
		.wrapper{
			text-align: center;
			h1{
				// display: block;
				// font-size: 1.6em;
				margin-left: 2.5%;
			}
			h2{

				position: static;
				// float: left;
			}
			h3{
				position: static;
				display: block;
				margin-top: 0;
				margin-right: 2.5%;
				// float: none;
			}
		}
	}

}
@media screen and (max-width: 690px){
	.header-content{
		.wrapper{
			h1{
				font-size: 10em;
			}
			h2{
				font-size: 3.3em;
			}
		}
	}
}

@media screen and (max-width: 525px){
	.header-content{
		.wrapper{
			h1{
				font-size: 5em;
			}
			h2{
				font-size: 1.7em;
			}
		}
	}
}
// ==================================
// ABOUT ME
// ==================================
.about-me{
	background-color: $bgColorAboutMe;
	text-align: center;
	position: relative;
	height: 100vh;
	
}

.about-me-content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 30px 10% 0 10%;
	h1{
		color: $colorHeader;
		font-size: 10em;
		display: block;
	}
	p{
		font-weight: lighter;
		font-size: 3em;
		line-height: 2em;
	}

}

@media screen and (max-width: 718px){
	.about-me-content{
		margin: 0 5% 0 5%;
		h1{
			font-size: 5em;
		}
		p{
			font-size: 2em;
		}
	}
}
// ==================================
// PORTFOLIO
// ==================================
.portfolio{
	background-color: $bgColorPortfolio;
	/* font-size: 5em; */
	text-align: center;
	/* position: absolute; */
	/* bottom: 0; */
	height: auto;
	width: 100%;
	display: inline-block;
}

.portfolio h2{
	color: $colorSubHeader;
	margin-bottom: 0;
	font-size: 3em;
	text-indent: 0;
	line-height: normal;
}

.portfolio .wrapper{
	// overflow: hidden;
	height: 418px;
}

.portfolio-example{
	// width: $widthFull;
	height: auto;
	position: relative;
	text-align:left;
	margin: 60px 0 0 0;
	// padding-left: 40px;
	overflow: hidden;
	// background-color: red;
}
.portfolio-circle img{
	position: relative;
	// left: 0;
	border-radius: 50%;
	height: 418px;
	width: 418px;
	border: 10px solid #fff;
	display: inline-block;
	z-index: 2;
}

.slider{
	overflow: hidden;
	// background-color: orange;

	position: absolute;
	top: 50%;
	left: 219px;
	transform: translateY(-50%);
}

// @keyframes example{
// 	fromt{left: 0;}
// 	to{left: 219px;}
// }

.portfolio-example-description{
	background-color: $bgColorPortfolioText;
	// margin-left: 200px;
	// position: relative;
	height: 350px !important;
	width: 1100px;
	// top: 50%;
	// left: 219px;
	left: 0;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	p{
		position: relative;
		margin: 0;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		margin-left: 250px;
		font-size: 5em;
		// width: 80%;
	}
}

@media screen and (max-width: 1404px){
	.portfolio-example{
		margin: 60px 0 0 10%;
		overflow: hidden;
		// background-color: red;
	}
	.slider{
		left: 150px;
		// width: calc(100% - 200px);
		width: 80%;
		// background-color: red;
		.portfolio-example-description{
		height: 200px !important;
		display: inline-block;
		width: 100%;
		margin-right: 70%;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		p{
			// width: 70%;
			font-size: 3em;
			margin: 0 0 0 190px ;
		}
	}
	}
	.portfolio-circle img{
		height: 300px;
		width: 300px;
		// img{
		// 	height: 300px;
		// 	width: 300px;
		// }
	}
}

@media screen and (max-width: 870px){
	.portfolio-example{
		margin: 60px 0 0 10%;
		overflow: hidden;
		// background-color: red;
	}
	.slider{
		left: 75px;
		// width: calc(100% - 200px);
		width: 80%;
		// background-color: red;
		.portfolio-example-description{
		height: 100px !important;
		display: inline-block;
		width: 100%;
		margin-right: 70%;
		p{
			// width: 70%;
			font-size: 2em;
			margin: 0 0 0 100px ;
		}
	}
	}
	.portfolio-circle img{
		height: 150px;
		width: 150px;
		border: 5px solid #fff;
		// img{
		// 	height: 150px;
		// 	width: 150px;
		// }
	}
}
// ==================================
// RESUME
// ==================================

.resume{
	// text-align: center;
	// background-color: $bgColorHeader;
	// overflow: auto;
	width: 100%;

	h1, h2, h3, h4{
		margin-bottom: 0;
	}
	
	h4, ul{
		margin-top: 0;
	}
	
	h4, p, li{
		font-weight: lighter;
	}
	p{
		font-size: 1.6em;
		// line-height: 2;
	}
}


.resume-content{
	text-align: left;
	// width: 100%;
	margin: 30px 10% 40px 10%;

	.wrapper{
		overflow: hidden;
	}

	.languages, .software{
		margin-right: 50px;
		float: left;
		display: inline-block;
	}

	.education{
		h3{
			margin-top:0;
			font-weight: lighter;
		}
	}
}