// colors
$colorHeader: #5b3921;
$colorSubHeader: #0d6759;
$colorDefault: #545959;
$bgColorDefault: #545959;
$bgColorHeader: #5b3921;
$bgColorSkills: #FF9200;
$bgColorAboutMe: #b2bebd;
$bgColorPortfolio: #9AA4A4;
$bgColorPortfolioText: #6BA8AD;
$bgColorResume: #BEB6B2;
$bgColorNav: #23201a;
$aboutMeHeader:#24A8AD;
// percentages
$widthFull: 100%;
html{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	width: $widthFull;
	
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
	background-color: $bgColorDefault;
	font-size: 62.5%;  /* font-size 1em = 10px on default browser settings */
	color: $colorDefault;
	font-family: 'Roboto', sans-serif;
}

ul{
	padding: 0;
}

h1{
	font-size: 4em;
	// margin: 0;
}

h2{
	font-size: 2.5em;
	// margin:0;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.8em;
}

li{
	font-size: 1.6em;
}
a{
	text-decoration: none;
	color: #fff;
}

a:visited, a:hover, a:focus{
	color: #fff;
}

.site{
	width: $widthFull;
}
// ==================================
// HEADER
// ==================================
header{
	background-image: url("../images/hero-top.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 100vh;
	border-bottom: 10px solid $colorHeader;
}

.header-content{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	.wrapper{
		display: inline-block;
		position: relative;
		width: auto;
		h1{
			color: $colorHeader;
			font-size: 15em;
			margin: 0;
			font-weight: 300;
		}
		h2{
			position: absolute;
			display: inline-block;
			color: $colorDefault;
			font-size: 5em;
			margin: 0;
			bottom: 0;
			right: 0;
			font-weight: lighter;
			line-height: 50%;
		}
		h3{
			display: none;
		}
	}
}

#header-title{
	display: none;
}


nav{
	position: fixed;
	background-color: $bgColorNav;
	text-align: center;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 5;
	overflow: hidden;
	ul{
		margin: 0;
	}
	ul li{
		display:inline-block;
		vertical-align: top;
		height: 30px;
		color: #fff;
		border-right: 1px solid $bgColorHeader;
	}

	ul li a{
		display: inline-block;
		height: 100%;
		line-height: 30px;
		margin: auto 10px;
	}
}

@media screen and (max-width: 796px){
	.header-content{
		.wrapper{
			h1{
				font-size: 10em;
			}
			h2{
				font-size: 3.3em;
			}
		}
	}
}

@media screen and (max-width: 525px){
	header{
		background-size: auto 100%;
	}
	.header-content{
		.wrapper{
			h1{
				font-size: 5em;
			}
			h2{
				font-size: 1.7em;
			}
		}
	}
}
// ==================================
// ABOUT ME
// ==================================
.about-me{
	background: -webkit-linear-gradient(#BEBEBE, $bgColorAboutMe);
	background: -o-linear-gradient(#BEBEBE, $bgColorAboutMe);
	background: -moz-linear-gradient(#BEBEBE, $bgColorAboutMe);
	background: linear-gradient(#BEBEBE, $bgColorAboutMe);
	text-align: center;
	position: relative;
	vertical-align: top;
	height: 100vh;
	margin: -1px 0 0 0;
	padding: 1px 0 0 0;
	overflow: hidden;
}

.about-me-wrapper{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	.about-me-content{
		margin: 0 10% 0 10%;
		padding: 30px 0  100px 0 ;
		h1{
			color: $colorHeader;
			font-size: 15vh;
			display: block;
			font-weight: lighter;
		}
		p{
			font-weight: lighter;
			font-size: 5vh;
			line-height: 1.5em;
		}

	}
}
@media screen and (max-width: 910px){
	.about-me-wrapper{
	.about-me-content{
		margin: 0 5% 0 5%;
		h1{
			// font-size: 5em;
			font-size: 10vh;
			margin:0;
		}
		p{
			// font-size: 2em;
			font-size: 4vh;
		}
	}
	}
}

@media screen and (max-width: 380px){
	.about-me-wrapper{
		.about-me-content{
			margin: 0 5% 0 5%;
			h1{
				// font-size: 5em;
				font-size: 8vh;
				margin:0;
			}
			p{
				font-size: 2em;
				// font-size: 2vh;
			}
		}
	}
}
// ==================================
// PORTFOLIO
// ==================================
.portfolio{
	text-align: center;
	background: -webkit-linear-gradient($bgColorAboutMe, #9EA8A7);
	background: -o-linear-gradient($bgColorAboutMe, #9EA8A7);
	background: -moz-linear-gradient($bgColorAboutMe, #9EA8A7);
	background: linear-gradient($bgColorAboutMe, #AAB5B4);
	margin: -1px 0 0 0;
	padding: 1px 0 0 2%;
	overflow: hidden;
	h1{
		font-size: 10em;
		font-weight: lighter;
		color: $colorHeader;
	}
}

.portfolio-content{
	max-width: 120em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	
}


.portfolio-example{
	display: inline-block;
	vertical-align: top;
	margin: 0 3% 0 0;
	text-align: left;
	width: 30%;
	
	.portfolio-desc-title{
		font-weight: bold;
		color: $colorHeader;
	}
	p{
		// font-weight: lighter;
		font-size: 1.4em;
	}
	img{
		width: 100%;
		height: 90%;
		box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33);
    	-moz-box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33);
    	-webkit-box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33);
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 812px){
	.portfolio{
		h1{
			font-size: 5em;
		}
	}
	.portfolio-example{
		text-align: center;
		display: block;
		width: auto;
		img{
			
			max-width: 100%;
			width: 100%;
		}
	}
}

// ==================================
// RESUME
// ==================================

.resume{
	background-color: #9EA8A7;
	background: -webkit-linear-gradient(#9EA8A7, #fff);
	background: -o-linear-gradient(#9EA8A7, #fff);
	background: -moz-linear-gradient(#9EA8A7, #fff);
	background: linear-gradient(#AAB5B4, #fff);
	overflow: auto;
	margin: -1px 0 0 0;
	padding: 1px 0 0 2%;
	overflow-x: hidden;

	h1{
		font-size: 10em;
		font-weight: lighter;
		color: $colorHeader;
		text-align: center;

	}
	h2, h3, h4{
		font-family: 'Open Sans', sans-serif;
		color: #545959;			
		margin-bottom: 0;
		font-weight: 500;
	}
	
	h2{
		margin-top: 0;
	}
	h4, ul{
		margin-top: 0;
		color: #545959;
	}

	h4{
		font-size: 1.6em;
		line-height: 1.6em;
		font-weight: 300;
		color: #545959;
	}
	p, li{
		font-size: 1.4em;
		line-height: 1.6em;
		font-weight: 300;
		color: #545959;
	}
	
	li{
		position: relative;
		margin: 15px 2% 0 0;
		padding: 0 2px;
		list-style-type: none;
		display: inline-block;
		background-color: #ddd;
	}

	.resume-content{
		text-align: left;
		margin: 0 10% 40px 10%;
		display: inline-block;
		vertical-align: top;

		h2{
			position: relative;
			margin: 30px 0 0 2%;
		}

		.resume-post{
			display: inline-block;
			text-align: left;
			width: 45%;
			margin:0 2%;
			vertical-align: top;
			p{
				margin:0;
			}
		}


		.skills{
			vertical-align: top;
			text-align: center;
			margin: 3em auto 0 2%;
			text-align: left;
			h2{
				text-align: left;
				margin-left: 0;
			}
		}

		.languages, .software{
			margin-right: 50px;
			text-align: left;
			vertical-align: top;
		}

		.resume-profile{
			text-align: center;
			width: 70%;
			margin: 0 auto;
		}


		.education{
			margin: 3em auto 0 2%;
			p{
				margin: 0;
			}
		}
	}

}

@media screen and (max-width: 812px){
	.resume{
		padding: 1px 0 0 0;
		h1{
			font-size: 5em;
		}
		h2{
			text-align: center;
		}
	
		.resume-content{
			// width: 100%;
			margin: 0 3% 40px 3%;
			text-align: center;
			.resume-profile{
				width: 90%;
				margin: 0 3%;
			}

			.resume-post{
				display: block;
				text-align: center;
				width: 95%;
				margin: 0 auto;
			}
		}

	}
}


// ==================================
// FOOTER
// ==================================


footer{
	background-color: #363636;
	border-top: 10px solid $colorHeader;
	overflow: hidden;
	color: #949494;
	// width: 100%;
	.contact{
		// width: 100%;
		float: left;
		vertical-align: top;
		margin: 30px 2% 0 2%;
		p{
			font-weight: lighter;
			font-size: 1.8em;
		}
	}
	.social{
		vertical-align: top;
		float: right;
		margin: 30px 2% 0 0;
		img{
			width: 50px;
			height: 50px;
		}
	}
}

@media screen and (max-width: 570px){
	footer{
		.contact{
			text-align: center;
			display: block;
			float: none;
			vertical-align: top;
			margin: 30px 2% 0 2%;
			p{
				font-weight: lighter;
				font-size: 1.8em;
			}
		}
		.social{
			vertical-align: top;
			display: block;
			float: none;
			margin: 30px 0 30px 0;
			text-align: center;
			img{
				text-align: center;
				// float: left;
				display: inline-block;
				width: 50px;
				height: 50px;
				margin: 0 2em;
			}
		}
}
}