// colors
$colorHeader: #5b3921;
$colorSubHeader: #0d6759;
$colorDefault: #fff;
$bgColorDefault: #fff;
// $bgColorDefault: #fff;
$bgColorHeader: #5b3921;
$bgColorSkills: #FF9200;
$bgColorAboutMe: #b2bebd;
$bgColorPortfolio: #9AA4A4;
$bgColorPortfolioText: #6BA8AD;
$bgColorResume: #BEB6B2;
$bgColorNav: #23201a;
$aboutMeHeader:#24A8AD;
// percentages
$widthFull: 100%;
html{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	width: $widthFull;
	
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
	// width: $widthFull;
	background-color: $bgColorDefault;
	font-size: 62.5%;  /* font-size 1em = 10px on default browser settings */
	color: $colorDefault;
	font-family: 'Roboto', sans-serif;
}

ul{
	padding: 0;
}

li{
	// list-style-type: none;
}

h1{
	font-size: 4em;
	// margin: 0;
}

h2{
	font-size: 2.5em;
	// margin:0;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.8em;
}

li{
	font-size: 1.6em;
}

p{
	// margin: 0;
}

.site{
	width: $widthFull;
	// text-align: center;
}
// ==================================
// HEADER
// ==================================
header{
	/* height: auto; */
	background-image: url("../images/hero-top.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: fixed;
	height: 100vh;
}

.header-content{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	.wrapper{
		display: inline-block;
		position: relative;
		width: auto;
		h1{
			color: $colorHeader;
			font-size: 15em;
			margin: 0;
			font-weight: normal;
			// line-height: 0;
		}
		h2{
			position: absolute;
			display: inline-block;
			color: $colorDefault;
			font-size: 5em;
			margin: 0;
			bottom: 0;
			right: 0;
			font-weight: lighter;
			line-height: 50%;
		}
		h3{
			display: none;
		}
	}
}

.hide{
	display: none;
}

.header-nav{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: left;
	background-color: $bgColorNav;
	height: auto;
	z-index: 4;
	.wrapper{
		position: relative;
		margin-bottom: 3px;
		h1{
			// position: relative;
			color: $colorHeader;
			font-size: 1.6em;
			margin: 0;
			display: inline-block;
			font-weight: normal;
			margin-left: 5%;
			// float: left;
		}
		h2{
			position: absolute;
			// line-height: 0;
			bottom: 0;
			// right: 0;
			color: $colorDefault;
			font-size: 1.6em;
			display: inline-block;
			font-weight: lighter;
			// line-height: 0;
			// float: left;
			margin:0;
		}
		h3{
			position: absolute;
			// line-height: 0;
			bottom: 0;
			right: 0;
			font-size: 1.6em;
			display: inline-block;
			font-weight: lighter;
			// float: right;
			// margin: 0;
			margin:0 5% 0 0;
		}
	}
}

// NAV
@media screen and (max-width: 920px){
	.header-nav{
		.wrapper{
			h1{
				margin-left: 2.5%;
			}
			h3{
				margin-right: 2.5%;
			}
		}
	}

	#header-city{
		display:none;
	}
}
// NAV
@media screen and (max-width: 708px){
	.header-nav{
		.wrapper{
			// text-align: center;
			h1{
				// display: block;
				font-size: 1.6em;
				margin-left: 2.5%;
			}
			h2{

				// position: static;
				// float: left;
			}
			h3{
				// position: static;
				// display: block;
				margin-top: 0;
				margin-right: 2.5%;
				// float: none;
			}
		}
	}

}
// NAV
@media screen and (max-width: 540px){
	.header-nav{
		.wrapper{
			text-align: center;
			h1{
				// display: block;
				// font-size: 1.6em;
				margin-left: 2.5%;
			}
			h2{

				position: static;
				// float: left;
			}
			h3{
				position: static;
				display: block;
				margin-top: 0;
				margin-right: 2.5%;
				// float: none;
			}
		}
	}

}
@media screen and (max-width: 796px){
	.header-content{
		.wrapper{
			h1{
				font-size: 10em;
			}
			h2{
				font-size: 3.3em;
			}
		}
	}
}

@media screen and (max-width: 525px){
	header{
		background-size: auto 100%;
	}
	.header-content{
		.wrapper{
			h1{
				font-size: 5em;
			}
			h2{
				font-size: 1.7em;
			}
		}
	}
}
// ==================================
// ABOUT ME
// ==================================
.about-me{
	// background-color: $bgColorAboutMe;
	background: linear-gradient(#BEBEBE, $bgColorAboutMe);
	text-align: center;
	position: relative;
	height: 100vh;
	overflow: hidden;

	
}

.about-me-wrapper{
	position: absolute;
	// height: 100vh;

	top: 50%;
	transform: translateY(-50%);
	// margin: 0 10% 0 10%;
	.about-me-content{
		margin: 0 10% 0 10%;
		padding-bottom: 100px;
		// border-bottom: 10px solid black;
		h1{
			// color: $aboutMeHeader;
			color: $colorHeader;
			font-size: 10em;
			display: block;
			margin: 0;
			font-weight: lighter;
		}
		p{
			font-weight: lighter;
			font-size: 3em;
			line-height: 1.5em;
		}

	}
}
@media screen and (max-width: 718px){
	.about-me-wrapper{
	.about-me-content{
		margin: 0 5% 0 5%;
		h1{
			font-size: 5em;
			margin:0;
		}
		p{
			font-size: 2em;
		}
	}
	}
}
// ==================================
// PORTFOLIO
// ==================================
.portfolio{
	text-align: center;
	// background-color: $bgColorPortfolio;
	// background-color: #A5B0AF;
	background: linear-gradient($bgColorAboutMe, #9EA8A7);
	// background-color: $bgColorAboutMe;
	padding: 0 2%;
	margin: 0;
	overflow: hidden;
	h1{
		font-size: 10em;
		font-weight: lighter;
		// color: #24A8AD;
		color: $colorHeader;
	}
}

.portfolio-content{
	max-width: 120em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	
}


.portfolio-example{
	display: inline-block;
	vertical-align: top;
	margin: 0 3% 0 0;
	text-align: left;
	width: 30%;
	
	.portfolio-desc-title{
		font-weight: bold;
		color: $colorHeader;
	}
	p{
		font-weight: lighter;
		font-size: 1.4em;
	}
	img{
		width: 100%;
		box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33);
    	-moz-box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33);
    	-webkit-box-shadow: 8px 12px 13px rgba(0, 0, 0, 0.33);
		margin-bottom: 2em;
	}
}

// ==================================
// RESUME
// ==================================

.resume{
	// text-align: center;
	// background-color: $bgColorResume;
	// background-color: #9EA8A7;
	background-color: #9EA8A7;
	background: linear-gradient(#9EA8A7, #fff);
	overflow: auto;
	// width: 100%;

	h1{
		font-size: 10em;
		font-weight: lighter;
		color: $colorHeader;
		text-align: center;

	}
	 h2, h3, h4{
		font-family: 'Open Sans', sans-serif;
		// color: $colorHeader;
		// color: #23201a;
		// color: #fff;
		color: #545959;			
		margin-bottom: 0;
		font-weight: 500;
	}
	
	h2{
		margin-top: 0;
	}
	h4, ul{
		margin-top: 0;
		color: #545959;
	}

	h4{
		font-size: 1.6em;
		line-height: 1.6em;
		font-weight: 300;
		color: #545959;
	}
	 p, li{
		// font-family: Helvetica, Arial, Verdana, sans-serif;
		font-size: 1.4em;
		line-height: 1.6em;
		font-weight: 300;
		color: #545959;
		// width: 60%;
	}
	
	li{
		position: relative;
		margin: 15px 2% 0 0;
		list-style-type: none;
		display: inline-block;
		background-color: #ddd;
	}

	

	.resume-content{
		text-align: left;
		margin: 0 10% 40px 10%;
		display: inline-block;
		// width: 90%;
		vertical-align: top;

		h2{
			position: relative;
			margin: 30px 0 0 2%;
			// display: inline-block;
		}

		.resume-post{
			display: inline-block;
			text-align: left;
			width: 45%;
			margin:0 2%;
			vertical-align: top;
			p{
				margin:0;
			}
		}


		.skills{
			vertical-align: top;
			text-align: center;
			margin: 3em auto 0 2%;
			text-align: left;
			h2{
				text-align: left;
			}
		}

		.languages, .software{
			margin-right: 50px;
			text-align: left;
			vertical-align: top;
		}

		.resume-profile{
				text-align: center;
				width: 70%;
				margin: 0 auto;
			}


		.education{
			margin: 3em auto 0 2%;
			p{
				margin: 0;
			}
		}
	}

}

footer{

}